[Desktop Entry]
Type=Application
Name=SSH Remote Tmux Session Manager
Exec=ssh-remote-tmux-session
Keywords=shell;prompt;commandline;
Comment=Interactivly choose a Tmux session to attach on configured remote machines
Icon=utilities-terminal
Terminal=false
Categories=Utility;
MimeType=
