[Desktop Entry]
Type=Application
Name=Tmux Session attacher
Exec=tmux-sessions-attacher
Keywords=shell;prompt;commandline;
Comment=Interactivly choose a Tmux session to attach
Icon=utilities-terminal
Terminal=false
Categories=Utility;
MimeType=
